#jumbotron {
  padding-top: 7rem;
  background-color: #8fbc8f;
}

.row {
  background-color: #8fbc8f;
}

#harapan {
  background-color: #8fbc8f;
}

#program {
  background-color: #8fbc8f;
}

#words {
  background-color: #8fbc8f;
}

#addresses {
  background-color: #8fbc8f;
}

#harapan {
  background-color: #8fbc8f;
}

section {
  padding-top: 5rem;
}

.btn {
  background-color: #008080;
}

.nav-link {
  color: white;
}
